.nav-top-about{
    height: 250px;
    background-color: #d6e9f5;
}

.about-container{
    position: relative;
    width: 570px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
}

.about-gravatar-container{
    position: absolute;
    left: 0;
    top: 0;
}

.about-gravatar-container a{
    margin-top: 50px;
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 50%;
}

.about-gravatar-container img{
    border-radius: 150px;
    -moz-border-radius:150px;
    -webkit-border-radius:150px;
}

.about-word-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 150px;
    margin: 50px 0 0 10px;
}

.about-word-triangle{
    margin-top: 50px;
    width:0;
    height:0;
    border-width:12px 12px 12px 0;
    border-style:solid;
    border-color:transparent white transparent transparent;/*透明 透明  黄*/
}

.about-word-blank{
    background-color: white;
    width: 380px;
    height: 150px;
    border-radius: 20px;
}

#content-wrap{
    position: relative;
    width: 1170px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.block-title{
    display: inline;
    font-size: 28px;
    color:#22A386;
}

#content-wrap button{
    width: 140px;
    height: 40px;
    color: #fff;
    background-color: #1abc9c;
    border:none;
    cursor: pointer;
    border-radius: 3px;
}

.post{
    margin-top: 20px;
    display: block;
    width: 750px;
    height: auto;
    padding: 40px 30px 20px 30px;
    box-shadow: rgb(167, 163, 163) 5px 5px 20px;
}

.post-active{
    box-shadow: rgb(167, 163, 163) 5px 5px 20px;
}

.post-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.post-title a:hover{
    color: #FF9900;
}

.post-title-arrow{
    position: relative;
    top:5px;
    display: inline-block;
    padding: 0 7px;
    width: auto;
    background-color: #777;
    color: white;
    line-height: 28px;
    height: 28px;
    vertical-align: top;
}

.post-preview{
    margin-top: 25px;
    font-size: 17px;
    height: auto;
    line-height: 1.73;
    color: #333;
}

.post-alert{
    border: 1px solid #EEE;
    border-left: 5px solid #CE4844;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}

.post-title-triangle{
    display: inline-block;
    position: relative;
    top: -3px;
    width:0;
    height:0;
    border-width:6px 0px 6px 6px;
    border-style:solid;
    border-color:transparent transparent transparent #777;
}

.post-detail{
    color:#777;
    font-size: 14px;
}

.post-detail p{
    display: inline-block;
    position: relative;
    top:-1px;
    left: 3px;
}

#sidebar-wrap{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 330px;
    height: 512px;
    box-shadow: rgb(167, 163, 163) 5px 5px 20px;
}

.sidebar-title{
    margin: 30px 20px 40px 20px;
    padding: 5px 15px 5px 15px; 
    background-color: #777;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 116px;
    font-size: 28px;
}

.sidebar-item-number{
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    background-color: #777;
    right: 10px;
    top:10px;
    text-align: center;
    color: white;
}

.sidebar-item-container{
    color: #22A386;
    font-size: 20px;
}

.sidebar-item-container a{
    display: inline-block;
    margin: 10px 0 15px 35px;
}

.sidebar-item-container li{
    display: block;
    position: relative;
}

.sidebar-item-container a:link{
    color: #22A386;
}

.sidebar-item-container a:visited{
    color: #22A386;
}

.sidebar-item-container a:hover{
    color: #990033;
    background-color: #ddd;
    border-radius: 5px;
    padding: 3px 15px 3px 15px;
}