.content-wrap{
    position: relative;
    width: 1170px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: rgb(167, 163, 163) 5px 5px 20px;
}